---
layout: page
title: About
permalink: /about
---

<article class="about-wrapper">
  <section class="about-info">
    {% if site.data.author.description %}
      <p>{{ site.data.author.description }}</p>
    {% endif %}
    <p><a href="mailto://{{ site.data.author.email }}">{{ site.data.author.email }}</a></p>
  </section>
  <section class="about-exhibitions">
    <h1>Exhibitions</h1>
    {% for exgroup in site.data.author.exhibitions %}
      <h2>{{ exgroup.title }}</h2>
      <ul>
        {% for exitem in exgroup.list %}
          <li>{{ exitem }}</li>
        {% endfor %}
      </ul>
    {% endfor %}
  </section>
</article>
