.global-wrapper {
  padding: 1rem 2rem;
  .site-header {
    padding: 0.5rem;
    background-color: palegoldenrod;
    overflow: auto;
    h1 {
      display: inline-block;
      margin: 0;
      margin-right: 0.5rem;
      font-size: 1.6rem;
    }
    .tagline {
      display: inline-block;
      margin: 0;
      font-size: 0.8rem;
      color: dimgray;
    }
    .tagline:before {
      content: '— ';
    }
    .navigation {
      ul {
        display: flex;
        flex-wrap: wrap;
        padding-left: 0;
        li {
          padding: 0.5rem;
          padding-top: 0; 
          list-style: none;
        }
      }
    }
  }
  .site-content {
    background-color: papayawhip;
    header {
      padding: 0.5rem;
      h1 {
        // margin-bottom: 0rem;
        font-size: 1.4rem;
      }
    }
    .posts-content {
      .artworks-list {
        display: flex;
        flex-wrap: wrap;
        margin: 0;
        // -webkit-margin-before: 0;
        padding-left: 0;
        li {
          padding: 0.5rem;
          width: 20%;
          list-style: none;
          box-sizing: border-box;
          figure {
            margin: 0;
            padding: 0 1rem 1rem 1rem;
            >a {
              display: flex;
              overflow: hidden;
              justify-content: center;
              align-items: center;
              height: 120px;
              img {
                // height: 100%;
              }
            }
            figcaption {
              margin: 0.5rem 0;
            }
          }
        }
      }
    }
  }
  .site-footer {
    background-color: lavender;
  }
}
