.global-wrapper {
  padding: 1rem 2rem;
  .site-header {
    padding: 0.5rem;
    background-color: palegoldenrod;
    overflow: auto;
    h1 {
      display: inline-block;
      margin: 0;
      margin-right: 0.5rem;
      font-size: 1.6rem;
    }
    .tagline {
      display: inline-block;
      margin: 0;
      font-size: 0.8rem;
      color: dimgray;
    }
    .tagline:before {
      content: '— ';
    }
    .navigation {
      ul {
        display: flex;
        flex-wrap: wrap;
        padding-left: 0;
        li {
          padding: 0.5rem;
          padding-top: 0; 
          list-style: none;
        }
      }
    }
  }
  .site-content {
    background-color: papayawhip;
    header {
      padding: 0.5rem;
      h1 {
        font-size: 1.4rem;
      }
    }
  }
  .site-footer {
    background-color: lavender;
  }
}
