.global-wrapper {
  padding: 1rem 2rem;
  .site-header {
    background-color: palegoldenrod;
  }
  .site-content {
    background-color: papayawhip;
  }
  .site-footer {
    background-color: lavender;
  }
}
