<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{ site.title }}</title>
  <link rel="stylesheet" type="text/css" href="{{ '/assets/lib/normalize/normalize.css' | prepend:site.baseurl }}">
  <link rel="stylesheet" type="text/css" href="{{ '/css/styles.css' | prepend:site.baseurl }}">
</head>
<body>
  <article class="global-wrapper">
    <header class="site-header">
      <h1><a href="{{ '/' | prepend:site.baseurl }}">{{ site.title }}</a></h1>
      {% if site.description %}
        <p class="tagline">{{ site.description }}</p>
      {% endif %}
      {% include navigation.html %}
    </header>
    <section class="site-content">
      {{ content }}
    </section>
    {% include footer.html %}    
  </article>
</body>
</html>
