<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{ site.title }}</title>
  <link rel="stylesheet" type="text/css" href="{{ '/assets/lib/normalize.css' | prepend:site.baseurl }}">
</head>
<body>
  <header>
    <h1><a href="{{ '/' | prepend:site.baseurl }}">{{ site.title }}</a></h1>
    <p>{{ site.description }}</p>
    {% include navigation.html %}
  </header>
  <article class="content">
    <h2>{{page.title}}</h1>
    {{ content }}
  </article>
  <footer>
    <p class="copyright">
      copyright&copy;2018 By
      <a href="http://paikwiki.github.io">Paikwiki</a>.
      All rights eserved
    </p>
  </footer>
</body>
</html>
